.page-head {
  background-color: var(--main-color);
  position: absolute;
  z-index: 5;
  height: 100px;
  width: 100%;
  border-radius: 0 0 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date-time {
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  margin-top: 10px;
  margin-left: 10px;
}

.date-time p {
  margin: 10px auto 0 25px;
}

.central {
  justify-items: center;
}

.central div {
  font-size: 20pt;
  margin-top: 10px;
}

.central .head-icons {
  margin-top: 0px;
}

#head-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#head-icons img {
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.head-menu {
  justify-self: end;
  margin-right: 25px;
  width: 150px;
}

.menu-title {
  display: flex;
  flex-direction: row;
  height: 50px;
  height: 70px;
}

.head-menu img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
}

.head-menu .menu-text {
  font-size: 14pt;
  margin-bottom: 20px;
}

.head-menu:hover {
  display: grid;
  grid-template-rows: 100px 1fr;
  width: 300px;
  height: 260px;
  background-color: var(--main-color);
  margin-right: 0;
  border: solid transparent;
  border-radius: 20px;
  border-style: none none solid solid;
  background:
    linear-gradient(var(--main-color), var(--main-color)) padding-box,
    linear-gradient(to bottom, var(--main-color) 90px, var(--dark-overlay) 80%) border-box;
  padding: 20px;
}

.head-menu:hover .menu-text {
  margin-top: 10px;
}

.content {
  display: none;
  margin-left: 20px;

}

.content a {
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
  font-size: 18pt;
  font-style: normal;
  width: 100%;
}

.content button {
  background-color: transparent;
  border: transparent;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 18pt;
  height: 40px;
  width: 100%;
  justify-self: left;
}

.content a:visited {
  color: white;
}

#close-sesion img {
  border-radius: 0px;
  width: 35px;
  height: 35px;
  margin-top: 0;
}

#close-sesion:hover {
  border: none;
  cursor: pointer;
}

#close-sesion:hover img {
  filter: invert(19%) sepia(79%) saturate(4344%) hue-rotate(346deg) brightness(75%) contrast(112%);
}

#close-sesion:hover p {
  border: none;
  text-decoration: red underline;
  color: red;
}

#close-sesion p {
  margin-top: 20px;
  color: white;
  width: 100%;
  margin-top: 2px;
}

.head-menu:hover .content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: start;
  justify-content: left;
}

.menu-link {
  text-align: left;
  justify-self: left;
}

.menu-link:hover {
  text-decoration: underline;
}

.w-icon {
  filter: invert(100%) sepia(3%) saturate(320%) hue-rotate(334deg) brightness(119%) contrast(100%);
}

main {
  padding-top: 110px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

div.tools {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#lateral-fixed {
  position: absolute;
  top: 110px;
  left: 10px;
}

#home-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 150px;
  gap: 100px;
}

.big-tools {
  width: 1210px;
  align-items: center;
  text-align: center;
}

.big-tools button.page-tool {
  height: 400px;
  width: 300px;
}

.big-tools button.page-tool img {
  height: 350px;
  width: 200px;
}

.big-tools button.page-tool p {
  position: relative;
  top: -50px;
}

#students-tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  gap: 100px;
}

button.page-tool {
  background-color: var(--main-color);
  height: 100px;
  width: 100px;
  border-radius: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 20pt;
}

button.page-tool:hover {
  cursor: pointer;
}

button.page-tool img {
  width: 50px;
  height: 50px;
}

.icon-btn2 .icon2 {
  width: 24px;
  height: 24px;
}

.table.history .thead,
.table.history .row {
  grid-template-columns: 160px 220px 1fr 140px;
}

.table.history .td.act {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.table.history .td.act .icon-btn {
  background: transparent;
  border: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.table.history .td.act .icon {
  width: 24px;
  height: 24px;
}