.page-head {
  background-color: var(--main-color);
  position: absolute;
  z-index: 5;
  height: 100px;
  width: 100%;
  border-radius: 0 0 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date-time {
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  margin-top: 10px;
  margin-left: 10px;
}

.date-time p {
  margin: 10px auto 0 25px;
}

.central {
  justify-items: center;
}

.central div {
  font-size: 20pt;
  margin-top: 10px;
}

.central .head-icons {
  margin-top: 0px;
}


.head-icons img{
  margin-top: 20px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.head-menu {
  justify-self: end;
  margin-right: 25px;
  display: grid;
  width: 150px;
}

.head-menu .menu-title {
  display: flex;
  flex-direction: row;
}

.head-menu img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
}

.head-menu .menu-text {
  font-size: 14pt;
  margin-bottom: 20px;
}

.head-menu:hover {
  width: 300px;
  height: 220px;
  background-color: var(--blue-color);
  border-radius: 0 0 0 40px;
  margin-right: 0;
}

.head-menu:hover .menu-text {
  margin-top: 10px;
}

.content {
  display: none;
}

.content a {
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
  font-size: 18pt;
  font-style: normal;
  margin: 10px;
  width: 100%;
}

.content button {
  background-color: transparent;
  border: transparent;
  display: flex;
  flex-direction: row;
  text-align: right;
  font-size: 18pt;
  height: 18pt;
  width: 40pt;
  justify-self: right;
  margin-right: 120px;
}

.content a:visited {
  color: white;
}

.content button:hover {
  cursor: pointer;
}

.content button img {
  border-radius: 0px;
}

.content button p {
  margin-top: 20px;
  color: white;
  width: 40pt;
}

.head-menu:hover .content {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  align-items: start;
  justify-content: left;  
}

.w-icon {
  filter: invert(100%) sepia(3%) saturate(320%) hue-rotate(334deg) brightness(119%) contrast(100%);
}

main {
    padding-top: 110px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.tools {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

button.pageTool {
    background-color: var(--main-color);
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

button.pageTool:hover {
    cursor: pointer;
}

button.pageTool img {
    width: 50px;
    height: 50px;
    filter: invert(100%) sepia(3%) saturate(320%) hue-rotate(334deg) brightness(119%) contrast(100%);
}